---
layout: default
title: All articles
languages:
  - en
  - de
subset: index
---

<div class="home">

  <h1>{% t 'title' %}</h1>

  <ul>
  {% for section in site.sections %}
    <li>
      <b>
        {% capture keyed_section_name %}section.{{ section.first }}{% endcapture %}
        {% t keyed_section_name %}
      </b>
    </li>
    <ul>
      {% for topicid in site.sections[section.first] %}
        <li>
          {% capture topic_key %}topic.{{ topicid }}{% endcapture %}
          {% t topic_key %}
        </li>
        <ul>
          {% for article in site.articles %}
            {% if article.section == section.first %}
              {% if article.topicid == topicid %}
                {% if article.language == page.language %}
                  <li>
                      <a href="{{ article.url | prepend: site.baseurl }}">{{ article.title }}</a>
                      &nbsp;&nbsp;<small style="color: #bbbbbb;">{{ article.refid }}</small>
                  </li>
                {% endif %}
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      {% endfor %}
    </ul>
  {% endfor %}
  </ul>
</div>
