---
layout: default
---

<div class="home">

  <h1>All Articles</h1>

  <ul>
  {% for section in site.sections %}
    <li>
      <b>
        {{ section.first }}
      </b>
    </li>
    <ul>
      {% for topic in site.sections[section.first] %}
        <li>
          {{ topic }}
        </li>
        <ul>
          {% for article in site.articles %}
            {% if article.section == section.first %}
              {% if article.topic == topic %}
                <li>
                    <a href="{{ article.url | prepend: site.baseurl }}">{{ article.title }}</a>
                </li>
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      {% endfor %}
    </ul>
  {% endfor %}
  </ul>
</div>
