<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    {% for lang in site.languages %}
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/{{ lang }}/">
        {% capture key %}lang.{{ lang }}{% endcapture %}
        {% t key %}
      </a>
    {% endfor %}

    {% assign pages_list = site.pages | sort: 'url' %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          {% if node.language == page.language %}
          <a class="sidebar-nav-item" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; Jamit Labs {{ site.time | date: '%Y' }}.
      <br>
      {% t 'sidebar.all_rights_reserved' %}
    </p>
  </div>
</div>
