---
layout: default
---
<article class="post">

  <h1 class="post-title">
    {{ page.title }}
  </h1>
  <p class="post-date">
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {{ page.date | tdate: 'article.date_format' }}
    </time>
     •
    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
      <span itemprop="name">
        {{ page.author }}
      </span>
    </span>
  </p>

  <div class="post-content">
    {{ content }}
  </div>

  <hr />
  <div>
    {% if page.prev_refid %}
      <p style="float:left;">
        <a href="{{ site.baseurl }}/{{ page.language }}/articles/{{ page.prev_refid }}.html">
          <small>
            << {% t 'article.back' %}: {{ page.prev_refid }}
          </small>
        </a>
      </p>
    {% endif %}

    {% if page.next_refid %}
      <p style="float:right;">
        <a href="{{ site.baseurl }}/{{ page.language }}/articles/{{ page.next_refid }}.html">
          <small>
            {% t 'article.next' %}: {{ page.next_refid }} >>
          </small>
        </a>
      </p>
    {% endif %}
  </div>

</article>
